input {
  background-color: none !important;
  background-image: none !important;
  color: rgb(255, 255, 255) !important;
}

.das{

  height:130px;
  border-radius:3px;
  margin: 10px;

}


.a{
  color: black;
  text-decoration: none;
}

.a:hover{
  color:black;
  background-color:#ebdc3e;
  text-decoration: none;
  border-radius:5px;
}

.nav-link:hover{
color: #000;
  background-color: #e1d232;
  border-radius:5px;
}


.left{
  margin-left: 30px;
  margin-right: 10px
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.none{
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: none
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    background-color:rgb(241, 240, 240)
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
